---
import Layout from '../../layouts/Layout.astro';
import getAvailableLocales from '../../lib/i18n';
import Heading from '../../components/Heading.astro';
import Line from '../../components/Line.astro';

export async function getStaticPaths() {
  const availableLocales = await getAvailableLocales();  
  return availableLocales.map(locale => ({
    params: { locale }
  }));
}

---

<Layout>
  <section>
    <Heading index="01" text="About" />      
    <Line />
    <div class="pt-6 px-4 pb-4">
      <p class="text-xs leading-5">About this template</p>
    </div>
  </section>      
</Layout>