---
import { Image } from '@datocms/astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
const { product } = Astro.props;

---

<article class="relative">
  <a class="absolute inset-0 flex flex-col justify-between p-6" href={getRelativeLocaleUrl(Astro.currentLocale, `/products/${product.slug}`)}>   
    <h3 class="text-xs">{product.name}</h3>
    <span class="text-[10px] text-muted uppercase">{product.productType}</span>
  </a>
  {product.images && product.images[0] && (
    <Image
      data={product.images[0].responsiveImage}
      pictureClass="w-full"
    />
  )}    
</article>
