---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import { queryCMS } from '../lib/cms';
import ProductCard from '../components/ProductCard.astro';

const query = `
  query {
    allProducts(first: 3, orderBy: _createdAt_DESC) {
      id
      name
      slug     
      images {
        responsiveImage(imgixParams: { fit: max, auto: format }) {
          src
          width
          height
          alt
          title
          base64
        }
      }
    }
    homepage {
      _seoMetaTags {
        tag
        attributes
        content
      }           
    }
  }
`;

const { allProducts, homepage } = await queryCMS(query);
---

<Layout additionalSeo={homepage._seoMetaTags}>
  <div class="container mx-auto px-4 py-8">

    <section class="mb-16">
      <h2 class="text-3xl font-bold mb-8 uppercase bg-foreground text-background inline-block p-4">Latest Products</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {allProducts.map((product) => (
          <ProductCard product={product} />
        ))}
      </div>
    </section>
  </div>
</Layout>
