@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --outer-container-width: 780px;
}

@theme {
  --font-sans: "Open Sans", sans-serif;
  --font-mono: "Geist Mono";
  
  --container-3xl: var(--outer-container-width);
 
  --color-background: #FAFAFA;
  --color-foreground: #272727;
 
  --color-card: #F0F0F0;
  --color-card-foreground: var(--color-foreground);
 
  --color-primary: #272727;
  --color-primary-foreground: #ffffff;

  --color-muted: #a6a6a6;

  --color-border: #E3E3E3;
}

.dark {
  --color-background: #0A0A0A;
  --color-foreground: #ffffff;
 
  --color-card: #141414;
  --color-card-foreground: var(--color-foreground);
 
  --color-primary: #ffffff;
  --color-primary-foreground: #0A0A0A;

  --color-muted: #6c6c6c;

  --color-border: #272727;
}
 

.cta {
  position: relative;
  z-index: 1;
}

.cta:before {
  position: absolute;
  inset: -6px;
  content: "";
  --s: 6px;
  border: 1px solid var(--color-border); 
  border-radius: 2px;
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
    0 0/calc(100% - var(--s)) calc(100% - var(--s));  
  transition: 0.3s cubic-bezier(.4,0,.2,1) all;
  pointer-events: none;
  opacity: 1;
  transform: scale(0.5);
  z-index: -1;
}

.cta:hover::before {
  opacity: 1;
  transform: scale(1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.opacity-100 {
  opacity: 1 !important;
}