---
import queryCMS from '../lib/cms';

const query = `
  query {
    _site {
      globalSeo {
        siteName
      }
    }
  }
`;

const { _site } = await queryCMS(query);
---

<style>
  footer {
    margin-inline: calc(-1 * (100vw - 100%) / 2);
    background: repeating-linear-gradient(-32deg, 
    transparent 0px, transparent 6px, 
    #E7E7E766 6px, #E7E7E766 12px);
  }
</style>

<footer class="p-4">
  <p class="text-xs text-center uppercase">&copy; {new Date().getFullYear()} {_site.globalSeo.siteName}. All rights reserved.</p>
</footer>
