---
import queryCMS from '../lib/cms';

const query = `
  query {
    _site {
      globalSeo {
        siteName
      }
    }
  }
`;

const { _site } = await queryCMS(query);
---

<footer class="col-start-1 -col-end-1 bg-[repeating-linear-gradient(-32deg,transparent_0px,transparent_6px,#e7e7e766_6px,#e7e7e766_12px)]">
  <div class="max-w-3xl mx-auto p-4 border-x border-border">
    <p class="text-xs text-center uppercase">&copy; {new Date().getFullYear()} {_site.globalSeo.siteName}. All rights reserved.</p>
  </div>
</footer>
