---
import queryCMS from '../lib/cms';

const query = `
  query {
    _site {
      globalSeo {
        siteName
      }
    }
  }
`;

const { _site } = await queryCMS(query);
---

<footer class="p-4">
  <p class="text-xs text-center uppercase">&copy; {new Date().getFullYear()} {_site.globalSeo.siteName}. All rights reserved.</p>
</footer>
