---
const navItems = [
  { href: '/', text: 'Home' },
  { href: '/products', text: 'Products' },
  { href: '/blog', text: 'Blog' },
  { href: '/about', text: 'About' },
];
---

<header class="p-4 mb-6">
  <nav>
    <a href="/"></a>
    <ul class="flex justify-center gap-4">
      {navItems.map((item) => (
        <li>
          <a href={item.href} class="text-xs uppercase">
            {item.text}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>
