---
import Line from './Line.astro';
const { index, text } = Astro.props;
const underscored = text.split(' ').join('<span class="text-primary">_</span>');

---
<Line />
<h2 class="p-4 text-xs uppercase" set:html={underscored}>
  <span class="me-3 text-muted">{index} /</span>
</h2>
