---
import getAvailableLocales, { getFallbackLocale, getLocaleSlug } from '../lib/i18n';
const availableLocales = await getAvailableLocales();
const fallbackLocale = await getFallbackLocale();
const currentSlug = Astro.url.pathname;
---

<script>
  document.getElementById("dropdowntoggle").addEventListener("click", function() {
      const dropdown = document.getElementById("dropdown");
      dropdown.classList.toggle("hidden");
  });
</script>

<div class="relative inline-block text-left">
  <div>
    <button id="dropdowntoggle" type="button" class="inline-flex w-full justify-center items-center gap-x-1.5 rounded-sm bg-card px-2 py-1 text-xs uppercase" id="menu-button" aria-expanded="true" aria-haspopup="true">
      {Astro.currentLocale}
      <svg class="-mr-1 size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div id="dropdown" class="hidden absolute left-0 z-10 mt-2 w-full origin-top-left rounded-sm bg-card" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <ul class="py-1" role="none">      
      {availableLocales.map((locale) => (
        <li>
          <a href={getLocaleSlug(locale, currentSlug)} class="block px-2 py-1 text-xs uppercase" role="menuitem" tabindex="-1">{locale}</a>
        </li>
      ))}      
    </ul>
  </div>
</div>
