---
const { label, slug, variant } = Astro.props;
---
<a 
  href={slug} 
  class={`cta px-4 py-2 text-xs whitespace-nowrap select-none uppercase
    ${variant === "primary" ? "bg-primary text-primary-foreground" : "bg-primary-foreground text-primary border border-border"}`}>
  {label}
</a>